body, html {
    background-color: gray;
    height: 100%;
}
#videos {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#subscriber {
    top: 0;
    width: 360px;
    height: 240px;
    z-index: 10;
    position: relative;
    float: right;
    right: 20px;
    border: 3px solid springgreen;
}
#publisher {
    position: absolute;
    width: 360px;
    height: 240px;
    z-index: 100;
    border: 3px solid white;
    border-radius: 3px;
}

.subscriber-text{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(0,0,0,.4);
    text-align: center;
    color: #FFFFFF;
    height: 60px;
}

.publisher-text {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(0,0,0,.4);
    text-align: center;
    color: #FFFFFF;
    height: 60px;
}