<!doctype html>
<html>
  <head>
    <title>Socket.IO + Nodejs</title>
     <link href="/assets/css/styles.css" rel="stylesheet" />
     <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Enviar</button>
    </form>

    <script src="/assets/vendor/jquery-1.11.1.js"></script>
    <script src="/assets/vendor/socket.io-1.2.0.js"></script>
    <script src="/assets/js/app.min.js"></script>
  </body>
</html> 